/* MainPage.css */

/* Ensure the body and html can scroll */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the main page takes at least the full viewport height */
}

.carousel-section {
  padding: 1rem;
}

.product-previews {
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  flex: 0 0 30%;
  max-width: 30%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  display: flow-root;
}
